.ConEducation {
    align-content: center!important;
    padding-top: 10px;
    background-color: rgb(122, 152, 172);
}
.row {
    justify-content: center;
}

.leftSide {
    text-align: right;
    /* margin-right: 20px; */
    display: flex;
    flex-direction: column;
}
.heading{
    margin-top: 50px;
    text-align: center;
}

#pid{
    margin-top: 0;
    margin-bottom: 10rpm;
    width: max-content;
}

.leftCol {
    /* max-width: fit-content !important; */
    justify-content: right;
}

.rightSide {
    text-align: left;
    margin-left: 20px;
}

.triangle {
    content: '';
    height: 10px;
    width: 10px;
    background: rgb(70, 212, 255);
    border-radius: 50%;
    position: absolute;
    left: -2px;
    top: 40px;
    transform: translateX(-50%);
}

.row {
    background-color: rgb(4, 12, 17);
}

.leftSide , .rightSide {
    padding: 10px;
    color: whitesmoke;
    /* max-width: fit-content !important; */
}

.marginBottom {
    margin-bottom: 50px;
}

.verticalLine {
    padding: 0 !important;
    margin: 0 !important;
    border-left: 4px red solid !important;
    
    max-width: 2px !important;
}